.cesium-lighter .cesium-widget-errorPanel {
  background: rgb(255 255 255 / 70%);
}

.cesium-lighter .cesium-widget-errorPanel-content {
  color: #000;
  background-color: #fff;
  border: 1px solid #526f82;
  border-radius: 7px;
}

.cesium-lighter .cesium-widget-errorPanel-header {
  color: #b87d00;
}
