ul.cesium-cesiumInspector-statistics {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}

ul.cesium-cesiumInspector-statistics + ul.cesium-cesiumInspector-statistics {
  border-top: 1px solid #aaa;
}

.cesium-cesiumInspector-slider {
  margin-top: 5px;
}

.cesium-cesiumInspector-slider input[type='number'] {
  width: 100px;
  margin-left: 10px;
  padding: 1px;
  color: #edffff;
  text-align: left;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 3px;
  outline: 0;
  cursor: auto;
}

.cesium-cesiumInspector-slider input[type='number']::-webkit-inner-spin-button,
.cesium-cesiumInspector-slider input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

.cesium-cesiumInspector-slider input[type='range'] {
  margin-left: 5px;
  vertical-align: middle;
}

.cesium-cesiumInspector-hide .cesium-cesiumInspector-styleEditor {
  display: none;
}

.cesium-cesiumInspector-styleEditor {
  padding: 10px;
  background: rgb(48 51 54 / 80%);
  border: 1px solid #444;
  border-radius: 5px;
}

.cesium-cesiumInspector-styleEditor textarea {
  width: 100%;
  height: 300px;
  padding: 0;
  overflow-x: auto;
  color: #edffff;
  white-space: pre;
  overflow-wrap: normal;
  background: 0 0;
  border: none;
}

.cesium-3DTilesInspector {
  width: 300px;
  pointer-events: all;
}

.cesium-3DTilesInspector-statistics {
  font-size: 11px;
}

.cesium-3DTilesInspector div,
.cesium-3DTilesInspector input[type='range'] {
  box-sizing: border-box;
  width: 100%;
}

.cesium-cesiumInspector-error {
  overflow: auto;
  color: #ff9e9e;
}

.cesium-3DTilesInspector .cesium-cesiumInspector-section {
  margin-top: 3px;
}

.cesium-3DTilesInspector
  .cesium-cesiumInspector-sectionHeader
  + .cesium-cesiumInspector-show {
  border-top: 1px solid #fff;
}

input.cesium-cesiumInspector-url {
  width: 100%;
  height: 1em;
  overflow: hidden;
  overflow-x: scroll;
  color: #fff;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  outline: 0;
}

.cesium-cesiumInspector .field-group {
  display: table;
}

.cesium-cesiumInspector .field-group > label {
  display: table-cell;
  font-weight: 700;
}

.cesium-cesiumInspector .field-group > .field {
  display: table-cell;
  width: 100%;
}
