.cesium-performance-watchdog-message-area {
  position: relative;
  padding: 10px;
  color: #000;
  background-color: #ff0;
}

.cesium-performance-watchdog-message {
  margin-right: 30px;
}

.cesium-performance-watchdog-message-dismiss {
  position: absolute;
  right: 0;
  margin: 0 10px 0 0;
}
