.dom-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
  background: #1c2834;
  border: 1px solid #aaa;
}

.dom-item-split-btn {
  width: 28px;
  height: 28px;
  background: url(./icon/screen_custom_division_split.svg) no-repeat;
}

.dom-item-split-btn:hover,
.dom-item-merge-btn:hover {
  cursor: pointer;
}

.dom-item-merge-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  background: url(./icon/screen_custom_division_merge.svg) no-repeat;
}

.dom-item-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  box-sizing: border-box;
  background: #161a1e;
  border: 1px solid #aaa;
}

.point-e-resize {
  position: absolute;
  z-index: 10;
  cursor: e-resize;
}

.point-n-resize {
  position: absolute;
  z-index: 10;
  cursor: n-resize;
}

.window-division-bottom-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 64px;
  background-color: #121a23;
}

.window-division-btn {
  float: right;
  width: 60px;
  height: 32px;
  margin-right: 8px;
  border: 0;
  border-radius: 4px;
}

.window-division-btn-info {
  color: #445160;
  background-color: #fff;
}

.window-division-btn-primary {
  color: #fff;
  background-color: #1c79f4;
}

.window-division-btn:hover {
  cursor: pointer;
}
